@media screen and (max-width:480px) {
    #cityList {
        display: grid !important;
        grid-template-columns: 50% 50% !important;
        width: 100% !important;
        align-items: center !important;
        justify-content: center !important;
        gap: 20px !important;
        height: 212px !important;
    }

    #cityList li {
        width: 100% !important;
        margin: -0px !important;
        font-size: 12px !important;
    }

    .areas-popup {
        width: 94% !important;
    }

    .areas-popup h2 {
        font-size: 23px !important;
        padding: 10px !important;
        position: relative !important;
    }

    .areas-popup h2 i {
        position: absolute !important;
        right: 13px !important;
        cursor: pointer !important;
    }

    .areas-popup .area-list li {
        margin-left: 18px !important;
    }


    .menuDiv {
        padding: 16px 30px 18px 30px !important;
        height: 80px !important;
    }

    .head {
        flex-wrap: nowrap !important;
        background-color: #ffffff4f !important;
    }

    .sectionOne {
        margin-top: -164px !important;
        background-size: 100% 329px !important;
    }

    .logo-Creed {
        width: 140px !important;
    }

    .secondParagraph2 {
        padding: 10px 0px 120px 0px !important;
    }

    .areaDiv {
        padding: 30px 0px 50px 0px !important;
    }
}



/* ---ADDITIONAL------- */

@media screen and (max-width:480px) {

    .head {
        flex-wrap: nowrap !important;
        background-color: #ffffff4f !important;
    }

    .web-studyMaterial {
        display: none !important;
    }

    .mob-studyMaterial {
        width: 100% !important;
        height: 100% !important;
    }

    .sub-title {
        font-size: 23px !important;
        line-height: 56px !important;
        text-align: end;
    }

    .prefix-text {
        font-size: 48px !important;
        height: 79px !important;
    }

    .firstImg {
        margin-top: -80px !important;
        height: 470px !important;
    }

    .menu {
        margin: 0px 8px 5px 0px !important;
    }

    #Empower {
        margin-top: 0 !important;
    }

    .paragraph {
        width: 100% !important;
    }

    .content2 {
        width: 99% !important;
    }

    .timeline {
        width: 100% !important;
        margin: 0 !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .timeline__event__content {
        padding: 20px 34px !important;
    }

    .timeline__event--type1 {
        width: 100% !important;
    }

    .timeline__event--type2 {
        width: 100% !important;
        right: auto !important;
    }

    .event__date {
        width: 100% !important;
    }

    .firstPara {
        right: auto !important;
    }

    .secondPara {
        position: initial !important;
        right: auto !important;
    }

    .thirdPara {
        right: auto !important;
    }

    .process {
        display: flex !important;
        align-items: flex-start !important;
        justify-content: center !important;
        flex-direction: column !important;
        padding: 0 !important;
    }

    .process .phase {
        width: 100% !important;
    }

    .process .phase label {
        width: 300px !important;
        padding: 1rem !important;
    }

    .process .milestone label {
        top: -76px !important;
    }

    .process .phase .popup label {
        width: 10px !important;
        height: 10px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        transform: scale(1.0) !important;
    }

    #Scrolled {
        position: absolute;
        padding: 0px;
        display: flex;
        z-index: 11;
        top: -17px !important;
        left: -24px !important;
        width: 115px;
        height: auto;
    }

    .menuDiv {
        padding: 16px 30px 18px 30px !important;
        height: 80px !important;
    }

    .one {
        width: 100% !important;
        left: 0 !important;
        text-align: center !important;
    }

    .one {
        padding: 50px 0px 0px 0px !important;
    }

    .fifth {
        padding: 30px 0px 135px 0px !important;
    }
}



/* ***************DESKTOP SITE**************** */

.mobile-desktop-mode .nav-panel .active {
    width: 500px !important;
}

.mobile-desktop-mode .logo-nav {
    width: 410px !important;
}

.mobile-desktop-mode .headDiv_Sec {
    flex-wrap: nowrap !important;
}

#Scrolled {
    position: relative !important;
}

.mobile-desktop-mode .menu {
    padding: 22px 20px 0px 0px !important;
}