.elementor-297 .elementor-element.elementor-element-861d8b1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-297 .elementor-element.elementor-element-2612f0e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input {
    padding: 30px 40px 30px 40px;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-file-upload-label {
    padding: 30px 40px 30px 40px;
    margin: 0px 0px 0px 0px;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-calculation-total {
    padding: 30px 40px 30px 40px;
    margin: 0px 0px 0px 0px;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_select__control,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-select .mf_select__option,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__control .mf_multiselect__value-container,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__option,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__menu-notice--no-options {
    padding: 30px 40px 30px 40px;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper .range-slider {
    padding: 30px 40px 30px 40px;
    margin: 0px 0px;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input,
.elementor-297 .elementor-element.elementor-element-e6646e8 .elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .irs--round .irs-bar,
.elementor-297 .elementor-element.elementor-element-e6646e8 .irs--round .irs-from,
.elementor-297 .elementor-element.elementor-element-e6646e8 .irs--round .irs-to,
.elementor-297 .elementor-element.elementor-element-e6646e8 .irs--round .irs-single {
    background-color: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .irs--round .irs-handle {
    border-color: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .irs--round .irs-from:before,
.elementor-297 .elementor-element.elementor-element-e6646e8 .irs--round .irs-to:before,
.elementor-297 .elementor-element.elementor-element-e6646e8 .irs--round .irs-single:before {
    border-top-color: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_select__single-value {
    color: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper .input-range__slider {
    border-color: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper .input-range__track--active,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper .input-range__label-container,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper .input-range__label-container:before {
    background-color: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-file-upload-label,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-calculation-total {
    color: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-file-upload-label svg path {
    stroke: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-select .mf_select__option,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__multi-value__label,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__multi-value__remove,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__menu-notice--no-options {
    color: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-file-upload-label,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-calculation-total,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-select .mf_select__option,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__multi-value__label,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__multi-value__remove,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__option,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__menu-notice--no-options {
    background-color: var(--e-global-color-secondary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-file-upload-label,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-calculation-total,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-select>.mf_select__control,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-select .mf_select__option,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-multiselect .mf_multiselect__control,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__option {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: var(--e-global-color-secondary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input:hover,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
    color: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .irs--round .irs-handle:hover {
    border-color: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-file-upload-label:hover {
    color: #000000;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input:hover .mf_select__single-value {
    color: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
    stroke: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper .input-range__slider:hover {
    border-color: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_select__menu-list .mf_select__option:hover,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__menu-notice--no-options:hover {
    color: var(--e-global-color-primary);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input:focus,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
    color: #000000;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .irs--round .irs-handle:focus {
    border-color: #000000;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-file-upload-container:focus .mf-input-file-upload-label,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-file-upload-container:focus .mf-image-label,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-calculation-total:focus {
    color: #000000;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper .input-range__slider:focus {
    border-color: #000000;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-calculation-total:focus,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_select__menu-list .mf_select__option:focus,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__option:focus,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__menu-notice--no-options:focus {
    color: #000000;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-file-upload-container .mf-input-file-upload-label,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-calculation-total {
    border-radius: 10px;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-select>.mf_select__control,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-select .mf_select__option,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input-multiselect .mf_multiselect__control,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__option,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__multi-value__label,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__multi-value__remove,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_multiselect__menu-notice--no-options {
    border-radius: 10px;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .text,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input::placeholder,
.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_select__placeholder {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder {
    color: #9B9B9B;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-moz-placeholder {
    color: #9B9B9B;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder {
    color: #9B9B9B;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-moz-placeholder {
    color: #9B9B9B;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input::-webkit-input-placeholder {
    color: #9B9B9B;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input::-moz-placeholder {
    color: #9B9B9B;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input:-ms-input-placeholder {
    color: #9B9B9B;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input:-moz-placeholder {
    color: #9B9B9B;
}

.elementor-297 .elementor-element.elementor-element-e6646e8 .mf_select__placeholder {
    color: #9B9B9B;
}

.elementor-297 .elementor-element.elementor-element-e6646e8>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-297 .elementor-element.elementor-element-3f81e1e .elementor-icon-wrapper {
    text-align: center;
}

.elementor-297 .elementor-element.elementor-element-3f81e1e.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-text);
}

.elementor-297 .elementor-element.elementor-element-3f81e1e.elementor-view-framed .elementor-icon,
.elementor-297 .elementor-element.elementor-element-3f81e1e.elementor-view-default .elementor-icon {
    color: var(--e-global-color-text);
    border-color: var(--e-global-color-text);
}

.elementor-297 .elementor-element.elementor-element-3f81e1e.elementor-view-framed .elementor-icon,
.elementor-297 .elementor-element.elementor-element-3f81e1e.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-text);
}

.elementor-297 .elementor-element.elementor-element-3f81e1e .elementor-icon {
    font-size: 18px;
}

.elementor-297 .elementor-element.elementor-element-3f81e1e .elementor-icon i,
.elementor-297 .elementor-element.elementor-element-3f81e1e .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-297 .elementor-element.elementor-element-3f81e1e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-297 .elementor-element.elementor-element-3f81e1e {
    width: auto;
    max-width: auto;
    top: 17%;
}

body:not(.rtl) .elementor-297 .elementor-element.elementor-element-3f81e1e {
    right: 8%;
}

body.rtl .elementor-297 .elementor-element.elementor-element-3f81e1e {
    left: 8%;
}

.elementor-297 .elementor-element.elementor-element-a71dbec .mf-btn-wraper {
    text-align: left;
}

.elementor-297 .elementor-element.elementor-element-a71dbec .metform-btn {
    padding: 26px 54px 26px 50px;
    color: #ffffff;
    background-color: #1E2C8A;
    border-style: none;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.elementor-297 .elementor-element.elementor-element-a71dbec .metform-btn:hover {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-secondary);
}

.elementor-297 .elementor-element.elementor-element-a71dbec>.elementor-widget-container {
    margin: 15px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) {

    .elementor-297 .elementor-element.elementor-element-e6646e8 .text,
    .elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input::placeholder,
    .elementor-297 .elementor-element.elementor-element-e6646e8 .mf_select__placeholder {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }
}

@media(max-width:767px) {

    .elementor-297 .elementor-element.elementor-element-e6646e8 .text,
    .elementor-297 .elementor-element.elementor-element-e6646e8 .mf-input::placeholder,
    .elementor-297 .elementor-element.elementor-element-e6646e8 .mf_select__placeholder {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }
}